<!-- 

<div class="" style="display: flex;flex-wrap: wrap;gap: 1em;flex-direction: row;justify-content: space-evenly;">
    <div class="card">
        <div class="info">
            <small>Products</small>
            <div class="num">{{ "152" }}</div>
            <div><span style="font-weight: 400;"><small style="color: #009688;">24 new</small>&nbsp;<small>Since last visit</small></span></div>
        </div>
        <div class="ico" style="background-color: #FF889679 !important;">
            <span class="fa fa-gift"></span>
        </div>
    </div>
    <div class="card">
        <div class="info">
            <small>Supplier</small>
            <div class="num">1000</div>
            <div>
                <span style="font-weight: 400;"><small style="color: #009688;">24 new</small>&nbsp;<small>Since last visit</small></span>
            </div>
        </div>
        <div class="ico" style="background-color: #96880059 !important;">
            <span class="fa fa-user"></span>
        </div>
    </div>
    <div class="card">
        <div class="info">
            <small>Entrepreneur</small>
            <div class="num">500</div>
            <div>
                <span style="font-weight: 400;"><small style="color: #009688;">24 new</small>&nbsp;<small>Since last visit</small></span>
            </div>
        </div>
        <div class="ico" style="background-color: #00968829 !important;">
            <span class="fa fa-user"></span>
        </div>
    </div>
    <div class="card">
        <div class="info">
            <small>Orders</small>
            <div class="num">100+</div>
            <div><span style="font-weight: 400;"><small style="color: #009688;">24 new</small>&nbsp;<small>Since last visit</small></span></div>
        </div>
        <div class="ico" style="background-color: #66f5 !important;">
            <span class="fa fa-clipboard"></span>
        </div>
    </div>
</div>

<div class="row">



    <div class="col-lg-12 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body p-4">
                <h5 class="card-title fw-semibold mb-4">Recent Transactions</h5>
                <div class="table-responsive">
                    <table class="table text-nowrap mb-0 align-middle">
                        <thead class="text-dark fs-4">
                            <tr>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Id</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Assigned</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Name</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Priority</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Budget</h6>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">1</h6>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-1">Sunil Joshi</h6>
                                    <span class="fw-normal">Web Designer</span>
                                </td>
                                <td class="border-bottom-0">
                                    <p class="mb-0 fw-normal">Elite Admin</p>
                                </td>
                                <td class="border-bottom-0">
                                    <div class="d-flex align-items-center gap-2">
                                        <span class="badge bg-primary rounded-3 fw-semibold">Low</span>
                                    </div>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0 fs-4">$3.9</h6>
                                </td>
                            </tr>
                            <tr>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">2</h6>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-1">Andrew McDownland</h6>
                                    <span class="fw-normal">Project Manager</span>
                                </td>
                                <td class="border-bottom-0">
                                    <p class="mb-0 fw-normal">Real Homes WP Theme</p>
                                </td>
                                <td class="border-bottom-0">
                                    <div class="d-flex align-items-center gap-2">
                                        <span class="badge bg-secondary rounded-3 fw-semibold">Medium</span>
                                    </div>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0 fs-4">$24.5k</h6>
                                </td>
                            </tr>
                            <tr>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">3</h6>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-1">Christopher Jamil</h6>
                                    <span class="fw-normal">Project Manager</span>
                                </td>
                                <td class="border-bottom-0">
                                    <p class="mb-0 fw-normal">MedicalPro WP Theme</p>
                                </td>
                                <td class="border-bottom-0">
                                    <div class="d-flex align-items-center gap-2">
                                        <span class="badge bg-danger rounded-3 fw-semibold">High</span>
                                    </div>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0 fs-4">$12.8k</h6>
                                </td>
                            </tr>
                            <tr>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">4</h6>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-1">Nirav Joshi</h6>
                                    <span class="fw-normal">Frontend Engineer</span>
                                </td>
                                <td class="border-bottom-0">
                                    <p class="mb-0 fw-normal">Hosting Press HTML</p>
                                </td>
                                <td class="border-bottom-0">
                                    <div class="d-flex align-items-center gap-2">
                                        <span class="badge bg-success rounded-3 fw-semibold">Critical</span>
                                    </div>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0 fs-4">$2.4k</h6>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="dashboard-container">
    <!-- Title Section -->
    <div class="title-section">
      <h1>Welcome to the Dashboard</h1>
    </div>
  

    <div class="image-slider">
      
      <!-- <img src="../../../assets/images/2.jpg" alt="Business Image 2" class="slide"> -->
      <img src="../../../assets/images/1.jpg" alt="Business Image 1" class="slide">
      <img src="../../../assets/images/2.jpg" alt="Business Image 2" class="slide">
      <img src="../../../assets/images/3.jpg" alt="Business Image 3" class="slide">
      <img src="../../../assets/images/4.jpg" alt="Business Image 4" class="slide">
      <img src="../../../assets/images/5.jpg" alt="Business Image 5" class="slide">
      <img src="../../../assets/images/6.jpg" alt="Business Image 6" class="slide">
      <img src="../../../assets/images/7.jpg" alt="Business Image 7" class="slide">
      <img src="../../../assets/images/8.jpeg" alt="Business Image 8" class="slide">
      <img src="../../../assets/images/9.jpg" alt="Business Image 9" class="slide">
      <img src="../../../assets/images/10.jpg" alt="Business Image 10" class="slide">
      <img src="../../../assets/images/11.jpg" alt="Business Image 11" class="slide">
      <img src="../../../assets/images/12.jpg" alt="Business Image 12" class="slide">
      <img src="../../../assets/images/13.jpg" alt="Business Image 13" class="slide">
      <img src="../../../assets/images/14.jpg" alt="Business Image 14" class="slide">
      <img src="../../../assets/images/15.jpg" alt="Business Image 15" class="slide">
      <img src="../../../assets/images/16.jpeg" alt="Business Image 16" class="slide">
      
    </div>
    <div class="text-overlay">
      <p>{{ currentText }}</p>
    </div>
  </div>
  