<!-- <section class="container" style="height:100vh;display: grid;place-items: center;"> -->
    <div style="padding: 1.5em;">
        <!-- @if (name) {
                <h1>Welcome Back! {{ name }}</h1>
                } -->
        <!-- <mat-card style="width: fit-content;margin: 0 auto;padding: 2em;"> -->
        <form (ngSubmit)="login()" [formGroup]="formData">
            <div mat-card-title>
                <h2>Supplier Login form</h2>
                <p>Please enter your login username and password!</p>
            </div>
            <div>
                <mat-form-field appearance="fill" style="width: 100%;border-radius: 1rem;">
                    <input matInput type="text" formControlName="username">
                    <mat-label for="username">username</mat-label>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>password</mat-label>
                    <div style="display: flex;justify-content: space-between;align-items: center;">
                        <input [type]="!showPassword ? 'password' : 'text'" matInput placeholder="Password"
                            formControlName="password">
                        <!-- <a role="button" (click)="passwordHash()">
                            <mat-icon [fontIcon]="!showPassword ? 'visibility' : 'visibility-off'">{{!showPassword ?
                                'visibility' : 'visibility-off' }}</mat-icon>
                        </a> -->
                    </div>
                </mat-form-field>
            </div>
            <div>
                <button type="submit" mat-raised-button color="primary">
                    <span class="fa fa-sign-in"></span>
                     login
                </button>
    
    
            </div>
        </form>
        <div>
            Don't have an account?
            <button mat-button color="warn" (click)="openRegisterDialog()">Register</button>
        </div>
        <!-- </mat-card> -->
    </div>
    <!-- </section> -->
    
    
    
    
