<form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div mat-card-title>
        <h2>Login form</h2>
        <p>Please enter your login username and password!</p>
    </div>
    <div>
        <mat-form-field appearance="fill" style="width: 100%; border-radius: 1rem;">
            <mat-label for="userName">Username</mat-label>
            <input matInput type="text" ngModel name="userName" required>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Password</mat-label>
            <input matInput [type]="!showPassword ? 'password' : 'text'" ngModel name="userPassword" placeholder="Password" required>
        </mat-form-field>
    </div>
    <div>
        <button type="submit" mat-raised-button color="primary">
            <span class="fa fa-sign-in"></span> Login
        </button>
    </div>
</form>
<div>
    Don't have an account?
    <button mat-button color="warn" (click)="openRegisterDialog()">Register</button>
</div>
