 /* .product-registration-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
   .product-list-container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  mat-table {
    width: 100%;
    margin-top: 20px;
  } 
    */

    .product-list-container, .product-registration-container {
      /* max-width: 1200px; */
      /* margin: 50px auto; */
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 10px;
    }
    
    mat-form-field {
      width: 100%;
      margin-bottom: 20px;
    }
    
    /* button {
      margin-top: 20px;
      margin-right: 10px;
    } */
    
    .mat-elevation-z8 {
      overflow: auto;
    }
    
    table {
      width: 100%;
    }
    

    /* dialog#d {
      
    } */



