<div>
    <div class="product-registration-container">
      <h2>Product Registration</h2>
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <!-- <mat-form-field appearance="fill"> -->
        <!-- <mat-label>Product Image URL</mat-label> -->
        <!-- <div>
        <input type="file" formControlName="product_image" placeholder="Enter image URL" required>
      </div> -->
        <!-- </mat-form-field> -->

        <mat-form-field appearance="fill">
          <mat-label>Product Name</mat-label>
          <input matInput formControlName="product_name" placeholder="Enter product name" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Price</mat-label>
          <input matInput formControlName="price" type="number" placeholder="Enter price" required>
        </mat-form-field>

        <!-- <mat-form-field appearance="fill">
        <mat-label>Quantity</mat-label>
        <input matInput formControlName="quantity" type="number" placeholder="Enter quantity" required>
      </mat-form-field> -->

        <!-- <mat-form-field appearance="fill">
        <mat-label>Location</mat-label>
        <input matInput formControlName="location" placeholder="Enter location" required>
      </mat-form-field> -->

        <!-- <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" placeholder="Enter product description" required></textarea>
      </mat-form-field> -->

        <button mat-raised-button color="primary" type="submit">Submit</button>
        <button type="button" mat-raised-button color="warn" (click)="closeDialog()" >Cancel</button>
      </form>
    </div>
  </div>