<!-- Sidebar Start -->
<aside class="left-sidebar" style="background-color: #f2f2f2;">
    <!-- Sidebar scroll-->
    <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
            <div href="./index.html" class="text-nowrap logo-img"
                style="width: 100%;text-align: center;font-size: 20px;text-decoration: none;display: flex;align-items: center;justify-content: center;color: blanchedalmond;">
                <!-- <img src="../assets/images/logos/dark-logo.svg" width="180" alt="" /> -->
                <span class="fa fa-handshake-o" style="font-size: 28px;color: #0D6EFD;"></span>&nbsp;
                <strong style="color: #0D6EFD;">EntrepreneurLink</strong>
        </div>
            <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                <i class="ti ti-x fs-8"></i>
            </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Home</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="/dashboard/home" routerLinkActive="active"
                        aria-expanded="false">
                        <span>
                            <i class="ti ti-layout-dashboard"></i>
                        </span>
                        <span class="hide-menu">Dashboard</span>
                    </a>
                </li>
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Product Management</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="/dashboard/product" routerLinkActive="active"
                        aria-expanded="false">
                        <span>
                            <i class="ti ti-article"></i>
                        </span>
                        <span class="hide-menu">Products</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="./ui-alerts.html" aria-expanded="false">
                        <span>
                            <i class="ti ti-alert-circle"></i>
                        </span>
                        <span class="hide-menu">view order</span>
                    </a>
                </li>

               
              <li class="sidebar-item">
                        <a class="sidebar-link" routerLink="/dashboard/entrepreneur" routerLinkActive="active"
                            aria-expanded="false">
                            <span>
                                <i class="ti ti-alert-circle"></i>
                            </span>
                            <span class="hide-menu">Entrepreneur</span>
                        </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="/dashboard/supplier" routerLinkActive="active"
                        aria-expanded="false">
                        <span>
                            <i class="ti ti-alert-circle"></i>
                        </span>
                        <span class="hide-menu">manage users</span>
                    </a>
            </li>


                
                <!-- <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="./ui-card.html" aria-expanded="false">
                        <span>
                            <i class="ti ti-cards"></i>
                        </span>
                        <span class="hide-menu">Supplier</span>
                    </a>
                </li> -->
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="./ui-forms.html" aria-expanded="false">
                        <span>
                            <i class="ti ti-file-description"></i>
                        </span>
                        <span class="hide-menu">Track Location</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="./ui-typography.html" aria-expanded="false">
                        <span>
                            <i class="ti ti-typography"></i>
                        </span>
                        <span class="hide-menu">Contact</span>
                    </a>
                </li>
                <!-- <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">AUTH</span>
                </li> -->
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="/dashboard/feedback" routerLinkActive="active"
                        aria-expanded="false">
                        <span>
                            <i class="ti ti-file-description"></i>
                        </span>
                        <span class="hide-menu">Feedback</span>
                    </a>
                </li>
               
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="./authentication-login.html" aria-expanded="false">
                        <span>
                            <i class="ti ti-login"></i>
                        </span>
                        <span class="hide-menu">view Feedback</span>
                    </a>
                </li>

                <!-- <li class="sidebar-item">
                    <a class="sidebar-link" href="./authentication-login.html" aria-expanded="false">
                        <span>
                            <i class="ti ti-user-plus"></i>
                        </span>
                        <span class="hide-menu">Register</span>
                    </a>
                </li> -->
                <!-- <li class="sidebar-item">
                    <a class="sidebar-link" href="./authentication-register.html" aria-expanded="false">
                        <span>
                            <i class="ti ti-user-plus"></i>
                        </span>
                        <span class="hide-menu">Login</span>
                    </a>
                </li> -->
                <!-- <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Rgister</span>
                </li> -->
                <!-- <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="/landing" aria-expanded="false">
                        <span>
                            <i class="ti ti-mood-happy"></i>
                        </span>
                        <span class="hide-menu">Sign Out</span>
                    </a>
                </li> -->
                <!-- <li class="sidebar-item">
                    <a class="sidebar-link" href="./sample-page.html" aria-expanded="false">
                        <span>
                            <i class="ti ti-aperture"></i>
                        </span>
                        <span class="hide-menu">Sample Page</span>
                    </a>
                </li> -->
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!--  Sidebar End -->